aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
av
certifi
cffi
charset-normalizer
click
colorama
distro
docstring-parser
eval-type-backport
flatbuffers
frozenlist
googleapis-common-protos
grpcio
h11
httpcore
httpx
idna
importlib-metadata
jiter
langdetect
livekit
livekit-agents
livekit-api
livekit-blingfire
livekit-plugins-groq
livekit-plugins-openai
livekit-plugins-sarvam
livekit-plugins-silero
livekit-protocol
markdown-it-py
mdurl
mpmath
multidict
nest-asyncio
numpy
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pillow
prometheus-client
propcache
protobuf
psutil
pycparser
pydantic
pydantic-core
Pygments
PyJWT
python-dotenv
requests
rich
shellingham
six
sniffio
sounddevice
sympy
tqdm
typer
types-protobuf
typing-extensions
typing-inspection
urllib3
watchfiles
websockets
yarl
zipp
sentence-transformers
qdrant-client
httpx
fastapi
uvicorn
duckduckgo-search
